BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
PointerAlignment: Left
SortIncludes: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
