# SPDX-License-Identifier: Apache-2.0
# Build artifacts and caches — reproducible, never tracked.
/bin/
/dist/
*.exe
*.test
*.out
node_modules/
target/
.wireit/

# Git-ignored folders for credentials and configuration
/secrets/
/.secrets/
.env

